<div><%= form.text_field :name, :class => "palette_attr" %></div>
<div><%= form.text_field :light, :class => "palette_attr" %></div>
<div><%= form.text_field :dark, :class => "palette_attr" %></div>
<div><%= form.text_field :accent, :class => "palette_attr" %></div>
<div><%= form.text_field :trim, :class => "palette_attr" %></div>
<br/>
<%= submit_tag "save" %>