<div class="blurb" id="blurb_<%= blurb.id %>">
  <%= render :partial => "site/framedimage", 
             :locals => { :image => blurb.image } %>
  <h3><%= blurb.title %></h3>
  <p><%= blurb.body %></p>
</div>